---
export const prerender = true;

import "devicon/devicon.min.css";
import { github } from "@lib/github";
import LocalFont from "@components/misc/LocalFont.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
	description: string;
	ogImage?: URL;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

if (Astro.props.ogImage === undefined) {
	Astro.props.ogImage = new URL("/v1/generate/og/default.png", Astro.url);
}

const { title, description, ogImage } = Astro.props;
const userData = await github.getUser();
---

<head>
	<LocalFont />
	<meta charset="utf-8" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1"
	/>
	<meta
		name="generator"
		content={Astro.generator}
	/>

	<meta
		name="title"
		content={`${userData.name} | ${title}`}
	/>
	<meta
		name="description"
		content={description}
	/>

	<meta
		property="og:type"
		content="website"
	/>
	<meta
		property="og:url"
		content={canonicalURL}
	/>
	<meta
		property="og:title"
		content={title}
	/>
	<meta
		property="og:description"
		content={description}
	/>
	<meta
		property="og:image"
		content={ogImage}
	/>

	<meta
		property="twitter:card"
		content="summary_large_image"
	/>
	<meta
		property="twitter:url"
		content={canonicalURL}
	/>
	<meta
		property="twitter:title"
		content={title}
	/>
	<meta
		property="twitter:description"
		content={description}
	/>
	<meta
		property="twitter:image"
		content={ogImage}
	/>

	<link
		rel="canonical"
		href={canonicalURL}
	/>
	<link
		rel="icon"
		type="image/svg+xml"
		href=`${userData.avatar_url}`
	/>

	<title>{userData.name} | {title}</title>

	<ViewTransitions />

	<style is:global>
		#brutal-progress {
			position: fixed;
			top: 0;
			left: 0;
			height: 1px;
			background: oklch(84.1% 0.238 128.85);
			width: 0%;
			transition: width 0.3s ease;
			z-index: 9999;
		}
	</style>

	<script>
		let progress: HTMLDivElement | null = null;

		document.addEventListener("astro:before-preparation", () => {
			progress = document.createElement("div");
			progress.id = "brutal-progress";
			document.body.appendChild(progress);

			// progress animation
			setTimeout(() => (progress!.style.width = "30%"), 50);
			setTimeout(() => (progress!.style.width = "90%"), 200);
		});

		document.addEventListener("astro:page-load", () => {
			if (progress) {
				progress.style.width = "100%";
				setTimeout(() => progress?.remove(), 300);
			}
		});
	</script>

	<slot />
</head>
