---
import type { CollectionEntry } from "astro:content";
import { Pill, Button } from "@eliancodes/brutal-ui";
import SummaryCard from "../generic/SummaryCard.astro";
import CustomBrutalPill from "../home/CustomBrutalPill.astro";

interface Props {
	project: CollectionEntry<"project">;
}

const { project } = Astro.props;
---

<SummaryCard
	title={project.data.title}
	imgAlt={project.data.title}
	imgSrc={project.data.imgUrl}
	description={project.data.description}>
	<div class="flex justify-end my-4">
		<Button href={`/project/${project.id}/`}>Read more &rarr;</Button>
	</div>

	<div class="hidden sm:inline-block">
		<p class="poppins t-2">tags:</p>
		<div class="flex justify-between items-center">
			<ul class="flex flex-wrap gap-4 mt-2">
				{
					project.data.tags.map((tag) => {
						return (
							<li>
								<a
									class="sanchez"
									href={`/project/tags/${tag.toLowerCase()}/`}>
									<CustomBrutalPill class="poppins">{tag}</CustomBrutalPill>
								</a>
							</li>
						);
					})
				}
			</ul>
			{
				project.data.draft && (
					<span class="bg-green rounded-full border-2 py-1 px-4 text-sm border-black card-shadow">
						Draft
					</span>
				)
			}
		</div>
	</div>
</SummaryCard>
