---
import type { GitHubUser } from "@lib/github";

import CustomBrutalButton from "@components/CustomBrutalButton.astro";
import CustomBrutalCard from "@components/CustomBrutalCard.astro";
import CustomBrutalPill from "@components/CustomBrutalPill.astro";
import { Image } from "astro:assets";

interface Props {
	userData: GitHubUser;
	userDataSocialMedia: any;
}

const { userData, userDataSocialMedia } = Astro.props;
---

<section
	id="about"
	class="grid grid-cols-8 gap-0">
	<div
		class="col-span-8 md:col-span-3 lg:col-span-2 order-first md:order-last overflow-hidden">
		<CustomBrutalCard
			class="border-b-2 md:border-l-2 border-black h-full !drop-shadow-none"
			classBody="!p-0">
			<Image
				src={userData.avatar_url}
				alt={userData.name}
				class="h-full w-full object-cover"
				width={400}
				height={400}
			/>
		</CustomBrutalCard>
	</div>
	<div class="col-span-8 md:col-span-5 lg:col-span-6">
		<div class="grid grid-rows-[2fr_1fr] h-full">
			<CustomBrutalCard
				class="border-b-2 border-r-2 border-black !bg-lime-400 !drop-shadow-none">
				<div class="flex flex-col justify-between items-start">
					<p class="outfit text-5xl md:text-5xl lg:text-7xl font-bold">
						I'm {userData.name}
					</p>
					<p class="mt-5 outfit text-2xl md:text-3xl lg:text-5xl">
						{userData.bio}
					</p>
				</div>
				<div class="flex flex-wrap gap-2 mt-3">
					<CustomBrutalPill hoverable={false}>
						{userData.followers} Followers
					</CustomBrutalPill>
					<CustomBrutalPill hoverable={false}>
						{userData.following} Following
					</CustomBrutalPill>
					<CustomBrutalPill hoverable={false}>
						{userData.public_repos} Public Repositories
					</CustomBrutalPill>
				</div>
				<p class="mt-7 outfit text-xl md:text-2xl lg:text-4xl">
					You can find me on ...
				</p>
				<div class="flex flex-wrap gap-2 mt-3">
					<CustomBrutalButton
						href={userData.html_url}
						target="_blank">
						Github
					</CustomBrutalButton>
					{
						userDataSocialMedia?.map((socialMedia: any) => (
							<CustomBrutalButton
								href={socialMedia.url}
								class="capitalize"
								target="_blank">
								{socialMedia.provider}
							</CustomBrutalButton>
						))
					}
				</div>
			</CustomBrutalCard>
			<CustomBrutalCard
				class="border-b-2 border-r-2 border-t-2 border-black !bg-black text-white !drop-shadow-none">
				<p class="outfit text-2xl md:text-3xl lg:text-5xl">
					aside from coding, I enjoy video creation, exploring new technologies,
					and engaging in outdoor activities.🏃
				</p>
			</CustomBrutalCard>
		</div>
	</div>
</section>
