---
export const prerender = true;

import { github } from "@lib/github";
import BaseLayout from "@components/layouts/BaseLayout.astro";
import ProjectSideBar from "@components/projects/ProjectSideBar.astro";
import ProjectContent from "@components/projects/ProjectContent.astro";
import RecentProjectPost from "@pages/includes/RecentProjectPost.astro";

const ogImage = new URL(`/v1/generate/og/${Astro.params.slug}.png`, Astro.url);

interface Props {
	project: any;
}

const { project } = Astro.props;

const userData = await github.getUser();
---

<BaseLayout
	title={project.data.title}
	description={project.data.description}
	ogImage={ogImage}
	userData={userData}>
	<main
		class="lg:grid lg:grid-cols-5 min-h-screen bg-gradient-to-b from-white to-gray-50">
		<ProjectSideBar headings={project.rendered?.metadata?.headings as any[]} />
		<ProjectContent {...project.data}>
			<slot />
		</ProjectContent>
	</main>

	<RecentProjectPost count={6} />
</BaseLayout>
