---
import BaseLayout from "@components/layouts/BaseLayout.astro";
import ProjectSideBar from "@components/projects/ProjectSideBar.astro";
import ProjectContent from "@components/projects/ProjectContent.astro";
import RecentProjectPost from "@pages/includes/RecentProjectPost.astro";

const ogImage = new URL(`/v1/generate/og/${Astro.params.slug}.png`, Astro.url);

interface Props {
	title: string;
	headings: unknown;
	description: string;
	pubDate: Date;
	author: string;
	viewLiveDemoLink: string | undefined;
	developerNotes: string | undefined;
}

const {
	author,
	pubDate,
	headings,
	description,
	title,
	viewLiveDemoLink,
	developerNotes,
} = Astro.props;
---

<BaseLayout
	title={title}
	description={description}
	ogImage={ogImage}>
	<main
		class="lg:grid lg:grid-cols-5 min-h-screen bg-gradient-to-b from-white to-gray-50">
		<ProjectSideBar headings={headings as any[]} />
		<ProjectContent
			{pubDate}
			{author}
			{viewLiveDemoLink}
			{developerNotes}>
			<slot />
		</ProjectContent>
	</main>

	<RecentProjectPost count={6} />
</BaseLayout>
