---
export const prerender = true;

import { github } from "@lib/github";
import BaseLayout from "@components/layouts/BaseLayout.astro";
import AboutMe from "@components/sections/AboutMe.astro";
import ContactMe from "@components/sections/ContactMe.astro";
import RecentProjectPost from "@components/sections/RecentProjectPost.astro";

const userData = await github.getUser();
const userDataSocialMedia = await github.getUserSocialMedia();
const { default: techStack } = await import("@data/misc/tech-stack.json");
---

<BaseLayout
	title="Home"
	pageTitle=`Home`
	description=`Welcome Explore projects.`
	userData={userData}>
	<main>
		<AboutMe
			userData={userData}
			userDataSocialMedia={userDataSocialMedia}
		/>

		<RecentProjectPost />

		<ContactMe
			userData={userData}
			techStack={techStack}
		/>
	</main>
</BaseLayout>
