---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@components/layouts/BaseLayout.astro";
import ProjectList from "@components/projects/ProjectList.astro";
import CustomBrutalButton from "@components/CustomBrutalButton.astro";

export async function getStaticPaths() {
	const allPosts = await getCollection("projects").then((collection) =>
		collection.reverse()
	);

	const tags: string[] = [];

	allPosts.forEach((post) => {
		post.data.tags.forEach((tag) => {
			tags.push(tag.toLowerCase());
		});
	});

	return Array.from(new Set(tags)).map((tag) => {
		return {
			params: { tag },
			props: {
				tag,
				projects: allPosts.filter((post) =>
					post.data.tags.map((tag) => tag.toLowerCase()).includes(tag)
				),
			},
		};
	});
}

interface Props {
	tag: string;
	projects: CollectionEntry<"projects">[];
}

const { tag, projects } = Astro.props;
---

<BaseLayout
	title={`Projects: ${tag}`}
	description={`Brutal Projects | All projects tagged with ${tag}`}
	pageTitle={`Brutal Projects | Projects tagged with ${tag}`}>
	<main class="p-6 bg-lime-400 grid gap-4">
		<div class="flex justify-between items-center mb-5">
			<h2 class="text-2xl md:text-2xl lg:text-4xl poppins font-bold">
				Tagged with: {tag}
			</h2>
			<div class="hidden md:block">
				<CustomBrutalButton href="/projects/">
					&larr; Back to Projects
				</CustomBrutalButton>
			</div>
			<div class="block md:hidden">
				<CustomBrutalButton href="/projects/">
					&larr; Back to Projects
				</CustomBrutalButton>
			</div>
		</div>
		<ProjectList projects={projects} />
	</main>
</BaseLayout>
